<nav class="navbar navbar-light bg-danger">
    <span class="navbar-brand mb-0 h1">Acceptor Dashboard</span>
    <a href='/logout' class="btn btn-danger">Logout</a>
</nav>
<h1>Successfully Logged In</h1>
<p>Hi {{user.name}}</p>
<p>Thanks for being an acceptor</p>
