body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/* Food Image */
.image-food:hover {
        transform: scale(2);
}
 
/* Number Counter */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
.counter_wrapper{width:100%;background:#f9f9f9;padding-top:20px;padding-bottom:100px;font-family: 'Poppins', sans-serif;}
.counter_wrapper .count_box{padding:50px 20px;border:2px solid #dc4225;border-radius:10px;text-align:center}
.counter_wrapper .count_box h3{font-size:40px;font-weight:600;color:#222;-webkit-transition:all .5s;-o-transition:all .5s;-ms-transition:all .5s;-moz-transition:all .5s;transition:all .5s}
.counter_wrapper .count_box h4{font-size:15px;font-weight:300;text-transform:uppercase;color:#313131;padding-top:10px;-webkit-transition:all .5s;-o-transition:all .5s;-ms-transition:all .5s;-moz-transition:all .5s;transition:all .5s}
.counter_wrapper .box_center{background:linear-gradient(to bottom right,#002f4b,#dc4225);background-position:center 0;background-size:cover}
.counter_wrapper .box_center h3,.counter_wrapper .box_center h4{color:#fff;-webkit-transition:all .5s;-o-transition:all .5s;-ms-transition:all .5s;-moz-transition:all .5s;transition:all .5s}
.counter_wrapper .box_hover:hover{background:linear-gradient(to bottom right,#002f4b,#dc4225);background-size:cover;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease}
.counter_wrapper .box_hover:hover h3,.box_hover:hover h4{color:#fff}
@media(max-width:768px){.counter_wrapper .col-md-4{margin-bottom:15px}}

